include README.rst
include MANIFEST.in
include pyproject.toml

# include rust extension files
recursive-include src *.rs
include build.rs
include .cargo/config
include Cargo.toml


# Exclude git stuff
exclude .gitignore .gitmodules

# Exclude travis
recursive-exclude travis *
exclude .travis.yml

# Exclude development files
exclude Makefile .pre-commit-config.yaml
