[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
attrs = "*"

[dev-packages]
ipython = { version = "*", markers = "python_version >= '3.6'" }
pytest = "*"
black = { version = "==18.6b4", markers = "python_version  >= '3.6'"}
isort = "*"
colorlog = "*"
pytest-benchmark = {version = "*", extras = ["histogram"]}
hypothesis = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-autodoc-typehints = "*"

[requires]
python_version = "3.6"
