[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
ipython = "*"

[dev-packages]
black = "==18.6b4"
isort = "*"
colorlog = "*"
pytest-benchmark = {version = "*", extras = ["histogram"]}

[requires]
python_version = "3.6"
